* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 360px;
}

html {
    font-family: "quicksand", sans-serif;
    color: whitesmoke;
    background-color: #363657;
    margin-left: auto;
    margin-right: auto;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    animation-name: fade;
    animation-duration: 2s;
    line-height: 1.25;
}

#ian {
    max-width: 15%;
    margin-left: 40%;
    margin-bottom: 5%;
}

@keyframes fade {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes move {
    from {
        transform: translateY(-900px);
    }

    to {
        transform: translateY(0px);
    }
}

nav {
    margin-bottom: 10%;
}


nav ul {
    padding-top: 2.5%;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 2%;
}

#home {
    color: #53aedb;
}

nav #home:hover {
    color: #AFE5F9;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
}

nav a:hover {
    color: #4287f5;
}

nav a:focus {
    color: #AFE5F9;
}

h1 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    animation-name: fade;
    animation-duration: 5s;
    color:#53aedb;
}

h2 {
    font-size: 1.75em;
    text-align: center;
}

h3 {
    font-size: 1.25em;
}

.index {
    display: grid;
    place-items: center;
}

.blurb {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 5%;
    padding: 1em;
    animation-name: move;
    animation-duration: 1s;
}

.blurb div {
    margin: 10%;
}

.blurb h3 {
    text-transform: uppercase;
}

.blurb div img {
    max-width: 10%;
}

#organize h3, #analyze h3, #visualize h3 {
    padding: 5px 0px 20px 0px;
    color:#53aedb;
}

#organize p, #analyze p, #visualize p {
    text-align: left;
}

.aboutme {
    display: grid;
    place-items: center;
    grid-template-columns: auto;
    grid-template-rows: .1fr 1fr .1fr 1fr;
}

.aboutme h2 {
    grid-row-start: 1;
    margin-bottom: 5%;
}

.aboutme img {
    grid-row-start: 2;
    background-color: #53aedb;
    padding: 10px;
    border-radius: 5%;
    max-width: 50%;
}

.aboutme h3 {
    margin-top: 50px;
    margin-right: auto;
    grid-row-start: 3;
    font-size: 1.5em;
}

.aboutme p {
    grid-row-start: 4;
    margin-top: -50px;
}

.MCU {
    animation-name: move;
    animation-duration: 1s;
}

.portfolio h2 {
    margin-top: 100px;
    color:#53aedb;
}

.portfolio h3 {
    color:#53aedb;
}

.portfolio h4 {
    margin-top: 50px;
}

.portfolio p {
    margin-top: 10px;
    margin-bottom: 50px;
}

.portfolio a {
    margin-bottom: 50px;
    font-weight: bold;
    color:#AFE5F9;
}

.portfolio a:hover {
    color:#4287f5;
}

.bold {
    font-weight: bold;
    color:#AFE5F9;
}

.MCU img, .HomeDepot img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.MCUpics, .HomeDepotpics {
    padding-top: 20px;
}

.MCUpics h3, .HomeDepotpics h3 {
    padding: 20px 0px 10px 0px;
}

.resume h1 {
    margin-bottom: 100px;
}

.club-titles {
    font-size: 1.75em;
    margin-top: 50px;
    color:#53aedb;
}

.boysandgirls {
    animation-name: move;
    animation-duration: 1s;
}

.videos {
    display: grid;
    place-items: center;
    margin-top: 2em;
}

.community p {
    margin-top: 0.5em; 
}

.contact {
    display: grid;
}

.contact h1 {
    margin-bottom: 100px;
}

.contact img {
    margin-left: auto;
    margin-right: auto;
    max-width: 15%;
    padding-bottom: 50px;
    animation-name: move;
    animation-duration: 1s;
}

.contact div {
    margin-top: 10%;
    margin-bottom: 10%;
}

.phone-mail {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.phone-mail h3 {
    padding: 20px;
}

.phone-mail a {
    text-decoration: none;
    color: whitesmoke;
}

.phone-mail a:hover {
    color: #4287f5;
}


.socials {
    margin-left: auto;
    margin-right: auto;
}

.socials h3 {
    padding-bottom: 10px;
    color:#4287f5;
}

.socials li {
    list-style-type: none;
}

.socials a {
    text-decoration: none;
    color: #AFE5F9;
}

.socials a:hover {
    color:#4287f5;
}

footer {
    margin-top: 5%;
    text-align: center;
    padding: 5%;
}

@media screen and (min-width: 600px) {
    * {
        max-width: 600px;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    nav li {
        text-align: right;
    }

    nav a {
        font-size: 1em;
    }

    .home {
        text-align: left;
    }

    h1 {
        font-size: 4em;
        text-align: center;
        text-transform: uppercase;
    }

    h2 {
        font-size: 2.75em;
        text-align: center;
    }

    h3 {
        font-size: 2em;
    }

    .aboutme p {
        margin-top: -200px;
    }

    .blurb img{
        max-width: 15%;
    }

    .contact div {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .club-titles {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1050px) {
    * {
        max-width: 1050px;
    }

    h1 {
        font-size: 5em;
        text-align: center;
        text-transform: uppercase;
    }

    h2 {
        font-size: 3em;
        text-align: center;
    }

    h3 {
        font-size: 2em;
    }

    .blurb {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1em;
    }

    .blurb div img {
        max-width: 15%;
    }

    .aboutme {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .25fr 1fr;
        grid-gap: 2em;
        transform: translateY(-400px);
    }

    .aboutme h2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }

    .aboutme img {
        grid-column-start: 1;
        grid-row-start: 2;
        max-width: 50%;
        margin-right: auto;
        margin-left: auto;
    }

    .aboutme h3 {
        grid-column-start: 2;
        grid-row-start: 2;
        margin-bottom: 75px;
    }

    .aboutme p {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .MCUpics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr;
        margin-top: 50px;
    }
    
    .MCUpics h3 {
        font-size: large;
        padding-top: 25px;
    }
    
    .MCUpics img {
        grid-row: 2;
    }
    
    #phase3 {
        transform: translateX(-120px);
        max-width: 120%;
    }

    #phase3text {
        transform: translateX(-120px);
    }
    
    #powerquery {
        max-width: 165%;
    }

    .HomeDepotpics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr;
        margin-top: 50px;
    }
    
    .HomeDepotpics h3 {
        font-size: large;
        padding-top: 25px;
    }
    
    .HomeDepotpics img {
        grid-row: 2;
    }
    
    #pivot {
        transform: translateX(-120px);
        max-width: 120%;
    }

    #pivottext {
        transform: translateX(-120px);
    }
    
    #raw {
        max-width: 150%;
    }

    .resume iframe {
        height: 1200px;
    }

    .videos {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .phone-mail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    
    .phone {
        grid-column-start: 1;
    }
    
    .mail {
        grid-column-start: 2;
    }

    .contact div {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .contact img {
        max-width: 10%;
    }

    .socials h3 {
        display: none;
    }

    .socials li { 
        display: inline-block;
        margin: 2em;
        padding-top: 50px;
    }
}

@media screen and (min-width: 1536px) {
    * {
        max-width: 1536px;
    }

    nav {
        margin-bottom: 1%;
    }

    nav ul {
        padding: 2.5%;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    }

    nav li {
        list-style: none;
        display: inline-block;
        text-align: right;
    }

    .home {
        text-align: left;
        color: #53aedb;
    }

    #home:hover {
        color: #4287f5;
    }

    nav a {
        font-size: 1em;
    }

    h1 {
        font-size: 5em;
        text-align: center;
        text-transform: uppercase;
    }

    h2 {
        font-size: 3em;
        text-align: center;
    }

    h3 {
        font-size: 2em;
    }

    .blurb {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1em;
        padding-bottom: auto;
    }

    .blurb div img {
        max-width: 25%;
    }

    .aboutme {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .25fr 1fr;
        grid-gap: 2em;
    }

    .aboutme h2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }

    .aboutme img {
        grid-column-start: 1;
        grid-row-start: 2;
        max-width: 50%;
        margin-right: auto;
        margin-left: auto;
    }

    .aboutme p {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .contact div {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .phone-mail img {
        max-width: 50%;
    }
}